<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="aterm" description="ATerm" language="ATerm" derivedFrom="DynamicRoot" validator="org.strategoxt.imp.editors.aterm.ATermValidator" validatorClass="org.strategoxt.imp.editors.aterm.ATermValidator"></language>
       </extension>
       <extension id="org.strategoxt.imp.editors.aterm.parser" name="ATerm Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="org.strategoxt.imp.editors.aterm.ATermParseController" language="ATerm">
          </parser>
       </extension>    
    </plugin>